@import '../../style/style-guide.scss';

$min-height: 42px;

.searchInputFieldWrapper {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  padding: 0 0.5rem;
  min-height: $min-height;
  border: 1px solid $border-default-color;
  transition: all 225ms;

  > *:first-child {
    padding-left: 0.7rem;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
  }

  input {
    width: 100%;
    padding: 0 0.5rem 0 0.725rem;
    margin-right: 8px;
    flex-grow: 1;
    outline: none;
    border: none;
    font-size: 16px;
    background-color: transparent;
    border-right: 1px solid var(--border-default-color);
    color: black;
  }

  .icon-button {
    background: transparent;
    border: none;
    vertical-align: middle;
    box-shadow: none;
    cursor: pointer;
  }
}
